USE [dienthoai]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 6/19/2022 9:10:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [varchar](10) NULL,
	[idp] [varchar](10) NULL,
	[tendn] [varchar](10) NULL,
	[ngayorder] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dangnhap]    Script Date: 6/19/2022 9:10:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dangnhap](
	[tendn] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/19/2022 9:10:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [nvarchar](50) NULL,
	[ten] [nvarchar](50) NULL,
	[loaisp] [nvarchar](50) NULL,
	[namsx] [nvarchar](50) NULL,
	[slcon] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/19/2022 9:10:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[hoten] [nvarchar](50) NULL,
	[tendn] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[matkhau] [nvarchar](50) NULL,
	[nlmk] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Product] ([id], [ten], [loaisp], [namsx], [slcon]) VALUES (N'TB0021', N'Iphone 13', N'điện thoại', N'2021', 97)
INSERT [dbo].[Product] ([id], [ten], [loaisp], [namsx], [slcon]) VALUES (N'TB0012', N'Xiaomi pro', N'điện thoại', N'2019', 14)
INSERT [dbo].[Product] ([id], [ten], [loaisp], [namsx], [slcon]) VALUES (N'TB1092', N'Vsmart', N'điện thoại', N'2016', 26)
GO
INSERT [dbo].[TaiKhoan] ([hoten], [tendn], [email], [matkhau], [nlmk]) VALUES (N'1', N'1', N'1', N'1', N'1')
INSERT [dbo].[TaiKhoan] ([hoten], [tendn], [email], [matkhau], [nlmk]) VALUES (N'hung', N'hung1', N'daotai2309@gmail.com', N'123', N'123')
INSERT [dbo].[TaiKhoan] ([hoten], [tendn], [email], [matkhau], [nlmk]) VALUES (N'2', N'2', N'2', N'2', N'2')
GO
